<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/sign_up" method="post">
      <input type="text" name="email">
      <input type="password" name="password">
      <button type="submit">Sign in</button>
    </form>
  </body>
</html>
